
<div class="div_container_welcome">
  <div class="div_welcome">
    <div class="box bg-primary  rounded box_shadown boxx" >
      <h2 class="title">Books Store</h2>
      <img class="rounded-circle" src="../../../assets/img/logo.png" width="200" >

      <div class="social mt-1 zoom">
        <button mat-raised-button (click)="goToList()">Entrar</button>
      </div>
      <div class="mt-1 mb-1 bar">
        <mat-progress-bar mode="buffer" *ngIf="loading" ></mat-progress-bar>
      </div>

    </div>
  </div>
</div>

